<h1>Add Car</h1>

<form action="/cars" method="post">
  <input type="text" name="make" placeholder="Make of Car">
  <input type="text" name="model" placeholder="Model of Car">
  <input type="text" name="color" placeholder="Color of Car">
  <input type="submit" value="Add New Car">
</form>